.homepage-hero-image-text {
  color: #ffffff !important;
  font-weight: 700 !important;
  width: 100% !important;
}
.homepage-hero-image .spree-btn.btn-primary {
  background: #71cd14 !important;
  border: none;
  font-size: 14px !important;
  padding: 12px 48px !important;
  @media (min-width: 426px) and (max-width: 768px) {
    font-size: 10px !important;
    padding: 8px 20px !important;
  }
  @media (max-width: 425px) {
    font-size: 8px !important;
    padding: 8px 16px !important;
  }
}
.homepage-hero-image {
  .hero-content {
    right: 61% !important;
  }
}
.feature {
  .single-feature {
    padding: 30px 15px;
    border: 1px solid #eff2f3;
    margin-bottom: 15px;
    h3 {
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 18px;
    }
    p {
      font-size: 14px;
      font-family: "Roboto", sans-serif;
      color: #797979;
    }
    .fa-truck,
    .fa-headset,
    .fa-lock,
    .fa-hand-holding-usd {
      color: #2a2a2a;
      font-size: 20px;
    }
  }
}
