.billing-address {
  color: #555555 !important;
}
.checkout-total {
  color: #71cd14 !important;
}
.cont-checkout-btn {
  background-color: #71cd14 !important;
  border: 1px solid #71cd14 !important;
}
.cont-checkout-btn:hover {
  color: #71cd14 !important;
  background-color: #ffffff !important;
  transition: all 300ms linear 0s;
}
