.custom-footer {
  background: #0d0d1f !important;
}

.custom-footer-menu a {
  color: #797979 !important;
  font-size: 14px !important;
  text-decoration: none !important;
}
.custom-footer-menu a:hover {
  color: #ffffff !important;
  transition: all 300ms linear 0s;
}
.footer-spree-copyright-content {
  color: #ffffff !important;
}
.footer-account-label {
  color: #797979 !important;
  font-size: 14px !important;
}
.footer-rights-link {
  color: #ffffff !important;
}
.footer-contact {
  color: #ffffff !important;
}
.footer-spree .spree-icon path {
  fill: grey !important;
}
.footer-spree .spree-icon path:hover {
  fill: #71cd14 !important;
}
@media (min-width: 768px) {
  .footer-spree-copyright-content {
    font-size: 14px !important;
  }
}
