.side-by-side-images {
  background-color: #81c408 !important;
  border: 1px solid #81c408 !important;
  border-radius: 5px;
  .title {
    font-weight: 600 !important;
    color: white !important;
    padding-bottom: 8px !important;
  }
  .subtitle {
    font-weight: 600 !important;
    color: #45595b !important;
  }
  .title-two {
    font-weight: 600 !important;
    color: #81c408 !important;
    padding-bottom: 8px !important;
  }
}
