<% if defined?(spree_signup_path) %>
  <div class="d-flex align-items-center justify-content-center custom-gap">
    <h6 class="spree-header no-account-text"><%= Spree.t("Don't have an account?") %></h6>
    <%= link_to Spree.t(:sign_up), spree_signup_path, class:"sign-up-link #{registration_button}" %>
  </div>
<% end %>
